#contanier{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-flow: row;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .hero-content {
        flex-direction: row;
        justify-content: space-between;
    }
}
.hero-content {
    display: flex
;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
@media (min-width: 768px) {
    .hero-text {
        width: 50%;
        text-align: left;
    }
}
.hero-text {
    text-align: center;
    margin-bottom: 2.5rem;
}